.u-section-2-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-2-1 .u-text-1 {
  margin: 31px auto 0 86px;
}

.u-section-2-1 .u-layout-wrap-1 {
  width: 968px;
  margin: 47px auto 1px;
}

.u-section-2-1 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2-1 .u-image-1 {
  width: 198px;
  height: 198px;
  margin: 0 auto;
}

.u-section-2-1 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-2-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-2-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 18px 30px 0;
}

.u-section-2-1 .u-text-3 {
  line-height: 1.8;
  font-style: normal;
  margin: 47px 30px 0;
}

.u-section-2-1 .u-image-2 {
  width: 246px;
  height: 174px;
  margin: 13px 86px 0 auto;
}

.u-section-2-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -145px auto 0 61px;
  padding: 29px 43px 30px 42px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2-1 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2-1 .u-image-2 {
    margin-right: 20px;
  }

  .u-section-2-1 .u-btn-1 {
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-2-1 .u-image-1 {
    width: 192px;
    height: 192px;
    margin-top: 13px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-image-2 {
    margin-right: 86px;
  }

  .u-section-2-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 1449px;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 844px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-bottom: 109px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-2-1 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    margin-top: -39px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2-1 .u-layout-cell-1 {
    min-height: 394px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-2-1 .u-text-2 {
    width: auto;
    margin-top: -9px;
  }

  .u-section-2-1 .u-text-3 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-2-1 .u-image-2 {
    margin-top: 57px;
  }

  .u-section-2-1 .u-btn-1 {
    margin-top: 13px;
    margin-left: auto;
    margin-bottom: -158px;
  }
}.u-section-2-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-2-2 .u-text-1 {
  margin: 68px 906px 0 86px;
}

.u-section-2-2 .u-layout-wrap-1 {
  width: 968px;
  margin: 11px auto 60px;
}

.u-section-2-2 .u-layout-cell-1 {
  min-height: 293px;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-2-2 .u-image-1 {
  width: 189px;
  height: 184px;
  object-position: 50% 22%;
  margin: 29px auto 0 11px;
}

.u-section-2-2 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-2-2 .u-container-layout-2 {
  padding: 21px 30px;
}

.u-section-2-2 .u-text-2 {
  line-height: 1.8;
  font-style: normal;
  margin: 9px 0 0;
}

.u-section-2-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 792px;
    margin-left: 0;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-2-2 .u-image-1 {
    height: 185px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-text-1 {
    width: auto;
    margin-right: 311px;
    margin-left: 261px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 64px;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-2 .u-image-1 {
    width: 161px;
    height: 158px;
    margin-left: 0;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-text-1 {
    margin-right: 221px;
    margin-left: 171px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-image-1 {
    margin-top: 0;
    margin-left: 168px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-text-1 {
    margin-right: 121px;
    margin-left: 71px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2-2 .u-image-1 {
    margin-left: 159px;
  }
}.u-section-4-1 .u-sheet-1 {
  min-height: 519px;
}

.u-section-4-1 .u-text-1 {
  margin: 31px auto 0 86px;
}

.u-section-4-1 .u-layout-wrap-1 {
  width: 968px;
  margin: 47px auto 60px;
}

.u-section-4-1 .u-layout-cell-1 {
  min-height: 293px;
}

.u-section-4-1 .u-container-layout-1 {
  padding: 30px 6px;
}

.u-section-4-1 .u-image-1 {
  width: 173px;
  height: 173px;
  margin: 30px auto 0;
}

.u-section-4-1 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-4-1 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-4-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4-1 .u-text-3 {
  line-height: 1.8;
  font-style: normal;
  margin: 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 8px;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-4-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-4-1 .u-text-1 {
    width: auto;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-4-1 .u-layout-wrap-1 {
    margin-top: -13px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-4-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-4-1 .u-layout-cell-1 {
    min-height: 172px;
  }
}.u-section-4-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-4-2 .u-text-1 {
  margin: 68px 906px 0 86px;
}

.u-section-4-2 .u-layout-wrap-1 {
  width: 968px;
  margin: 11px auto 60px;
}

.u-section-4-2 .u-layout-cell-1 {
  min-height: 293px;
}

.u-section-4-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4-2 .u-image-1 {
  width: 150px;
  height: 150px;
  object-position: 50% 22%;
  margin: 29px auto 0;
}

.u-section-4-2 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-4-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4-2 .u-text-2 {
  line-height: 1.8;
  font-style: normal;
  margin: 0;
}

.u-section-4-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-4-2 .u-text-1 {
    margin-right: 792px;
    margin-left: 0;
  }

  .u-section-4-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4-2 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-4-2 .u-layout-cell-2 {
    min-height: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-text-1 {
    margin-right: 572px;
  }

  .u-section-4-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-4-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4-2 .u-image-1 {
    width: 132px;
    height: 132px;
  }

  .u-section-4-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-text-1 {
    margin-top: 60px;
    margin-right: 392px;
  }

  .u-section-4-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-text-1 {
    margin-right: 192px;
  }

  .u-section-4-2 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0 27px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto 0 16px;
}

.u-section-1 .u-image-1 {
  width: 232px;
  height: 235px;
  margin: 6px auto 0 27px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 260px;
  margin: -248px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 709px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-4 {
  width: 746px;
  margin: 16px auto 38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    width: 360px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 27px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-1 .u-image-2 {
    width: 313px;
    height: 246px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-block-0fb1-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-0fb1-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-0fb1-4 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}.u-section-3 .u-sheet-1 {
  min-height: 494px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  margin: 10px auto 0 29px;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 0 auto 0 -29px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 204px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-2 {
  margin: 27px auto 0 80px;
}

.u-section-3 .u-text-3 {
  margin: 2px 291px 0 80px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 0 auto 0 80px;
}

.u-section-3 .u-text-5 {
  margin: 0 auto 0 80px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 106px;
  height: 106px;
  margin: -106px 80px 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 1px auto 0 80px;
}

.u-section-3 .u-icon-2 {
  width: 97px;
  height: 97px;
  margin: -97px 140px 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 1px 291px 0 80px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin: 39px auto 0 497px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 566px;
  margin: 0 auto;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 39px auto 0 325px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -64px 328px 48px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: 20px;
    margin-left: 29px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 91px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 171px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 410px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 64px;
    margin-right: 80px;
    margin-left: 294px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -26px;
    margin-left: 268px;
  }

  .u-section-3 .u-icon-4 {
    margin: -70px auto 55px 169px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
    margin-left: 110px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-right: 86px;
    margin-left: 54px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 123px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 54px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 110px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 110px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 170px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 60px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 314px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 11px;
    margin-right: 125px;
    margin-left: 29px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 21px;
    margin-left: 236px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -64px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -178px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 82px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 236px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 14px;
    margin-right: 20px;
    margin-left: -20px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 47px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -67px;
    margin-right: 45px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 120px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-right: 76px;
    margin-left: 4px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 17px;
    margin-left: 120px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 3px;
    margin-left: 8px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 8px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -141px;
    margin-right: 50px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 54px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 20px;
    margin-left: 59px;
  }

  .u-section-3 .u-icon-4 {
    margin: -64px 51px 55px 106px;
  }
}.u-block-3e36-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-3e36-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-3e36-4 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}.u-section-5 .u-sheet-1 {
  min-height: 517px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 27px auto 0 489px;
}

.u-section-5 .u-list-1 {
  margin-top: 4px;
  margin-bottom: 60px;
  grid-template-rows: auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 421px;
}

.u-section-5 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  margin: 15px auto 0 15px;
}

.u-section-5 .u-text-3 {
  margin: 4px auto 0 15px;
}

.u-section-5 .u-image-1 {
  filter: brightness(0.75);
  width: 187px;
  height: 211px;
  margin: 15px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-text-4 {
  font-size: 3rem;
  margin: 15px auto 0 15px;
}

.u-section-5 .u-text-5 {
  margin: 4px auto 0 15px;
}

.u-section-5 .u-image-2 {
  filter: brightness(0.75);
  width: 187px;
  height: 211px;
  margin: 15px auto 0;
}

.u-section-5 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-text-6 {
  font-size: 3rem;
  margin: 15px auto 0 15px;
}

.u-section-5 .u-text-7 {
  margin: 4px auto 0 15px;
}

.u-section-5 .u-image-3 {
  filter: brightness(0.75);
  width: 187px;
  height: 211px;
  margin: 15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 9px;
    margin-left: 403px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 22px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    margin-top: 15px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 797px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
  }
}